.env
.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/

dbt/target/
dbt/dbt_packages/
dbt/logs/
dbt/.user.yml

orchestration/logs/
*.log

docker/airflow/tmp/
docker/dbt/tmp/
docker/metabase/tmp/
docker/postgres/tmp/
docker/minio/tmp/
docker/metabase/tmp/
docker/metabase/tmp/

docker/airflow/logs/
docker/dbt/logs/
docker/metabase/logs/
docker/postgres/logs/
docker/minio/logs/
docker/metabase/logs/
docker/metabase/logs/
 
docker

scripts
notuse.md
requirements.txt